<div style="background-image: url(/public/inicio/verduras.webp); background-repeat: no-repeat; background-size: cover;">
  <section class="py-5 text-center container mx-auto">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        {{#boldHeroTitle}}Bievenidos a Mercado Web{{/boldHeroTitle}}
        <p class="lead text-white">Tu destino en línea para acceder a una amplia variedad de frutas y vegetales frescos, directamente de los campos a tu puerta.</p>
        <p>
          
        </p>
      </div>
    </div>
  </section>
</div>
